.user-select-analysis {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-items: center;
    color: var(--accent);
    padding-bottom: 1rem;
    gap: 20px;
}

.display-results {
    top: 25%;
    width: 80%;
    max-height: 70vh;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
    overflow: auto;
    border: 3px solid var(--foreground);
}

.display-results th,
.display-results td {
    border: 1px solid var(--foreground);
    padding: 12px;
    box-sizing: border-box;
}

.display-results th {
    background-color: var(--accent);
    color: var(--muted-foreground);
    font-weight: bold;
}

.display-results tr:nth-child(even) {
    background-color: var(--accent);
}

.display-results tr:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.display-results tbody {
    display: block;
    width: 100%;
}

.display-results tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table-body-wrapper {
    display: block;
    width: 100%;
    max-height: 80%;
    overflow-y: auto;
    border-top: 1px solid var(--foreground);
}
