.site-holder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  align-items: center;
  justify-content: top;
  position: absolute;
  width: 100%;
}

.page-holder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 0.5rem 0;
  width: 100%;
}

.content-holder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
}