.site-holder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: top;
  font-size: 3rem;
  height: 100vh;
}

.page-holder {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: top;
  padding: 1rem 0 0.5rem 0;
  width: 100%;
}